---
import Layout from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import MainBanner from "../components/MainBanner.astro";
import CategoryCarousel from "../components/CategoryCarousel.astro";
import ProductCarousel from "../components/ProductCarousel.astro";
import CategoryBanners from "../components/CategoryBanners.astro";
import SectionCarousel from "../components/SectionCarousel.astro";
import NewCart from "../components/NewCart.astro";
import Navigation from "../components/Navigation.astro";
---
<Layout title="Tienda Web" description="Bienvenido a nuestra tienda en línea">
  <Navigation />
  <Header />
  <main>
    <CategoryCarousel />
    <ProductCarousel />
    <MainBanner />
    <CategoryBanners />
    <SectionCarousel />
  </main>
  <NewCart />
  <footer>…</footer>
</Layout>

