---
import "../styles/global.css";
import CartPanel from '../components/CartPanel.astro';
const { title = "Tienda Web", description = "Bienvenido a nuestra tienda en línea" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.svg" />
    <!-- Fuentes que usas en el CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
  </head>
  <body class="min-h-screen bg-slate-950 text-slate-100">
    <slot />
    <CartPanel />
    <script type="module" src="/js/app.js"></script>
  </body>
</html>
